# Config file for QuickConnect mod
# Lines starting with # and empty lines are ignored

# Put one server per line
# name:addr:port[:password]

# addr can be ether IP or a fully qualified domain name

WisquiLand:95.154.229.140:2466:SA82itQjz